[submodule "PEngine/vendor/spdlog"]
	path = PEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "PEngine/vendor/glfw"]
	path = PEngine/vendor/glfw
	url = https://github.com/lman888/glfw
[submodule "PEngine\\vendor\\glm"]
	path = PEngine\\vendor\\glm
	url = https://github.com/g-truc/glm
